.parentBox{


    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    text-align: center;
    margin: auto;
   gap: 1em;

   padding: 3em;

}

.card{
border-radius: 10px;
width: 90%;
margin: auto;
background-color: rgb(189, 210, 210);
text-align: left;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: rgb(0, 0, 0);
height: auto;
padding: 0.5em;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
margin-top: 1em;
margin-bottom: 1em;

}

.cardicon{
    display: flex;
    gap: 10px;
    float: right;
}

.titlename{
    color: rgb(154, 49, 49);
font-weight: bold;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

#topsection{
    display: flex;
    gap: 1em;
    text-align: center;
    margin: auto;
   padding: 1em;
}

.heading{
    text-align: center;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: xx-large;
padding: 1em;
}


.QA{
    border-radius: 0.5em;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: rgb(213, 194, 168);
    height: auto;
}
.DONE{
    border-radius: 0.5em;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: rgb(177, 221, 192);
    height: auto;

}

.PROGRESS{
    border-radius: 0.5em;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: rgb(204, 196, 222);
    height: auto;

}

.TODO{
    border-radius: 0.5em;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: rgb(202, 234, 223);
    height: auto;

}

.createtodo{
    font-size: 5em;
    text-align: center;
}